:root {
  font-size: 16px;
  font-family: "Rambla", sans-serif;
  --bg-primary: #16161a;
  --bg-secondary: #242629;
  --text-primary: #fffffe;
  --text-secondary: #94a1b2;
  --accent-color-primary: #7f5af0;
  --accent-color-secondary: #2cb67d;
}
.navbar {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}
.logo {
  flex: 1;
  font-size: 52px;
  font-weight: bold;
}

.portrait > img {
  width: 64px;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-primary);
}

.nav-link:hover {
  color: var(--accent-color-primary);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.intro-text {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-secondary);
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  text-align: center;
  padding: 2rem;
}
.card-image {
  max-width: 100%;
  border-radius: 10px;
}
.card-link {
  padding: 1rem;
  display: inline-block;
}
footer {
  padding-top: 2rem;
  text-align: center;
}
