:root {
  font-size: 16px;
  font-family: "Rambla", sans-serif;
  --bg-primary: #16161a;
  --bg-secondary: #242629;
  --text-primary: #fffffe;
  --text-secondary: #94a1b2;
  --accent-color-primary: #7f5af0;
  --accent-color-secondary: #2cb67d;
}
body {
  background: var(--bg-primary);
  margin: 0;
  padding: 1rem;
  color: var(--text-primary);
}

h1 {
  font-size: 52px;
}
h2 {
  margin: 0 0 20px 0;
}
p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--accent-color-secondary);
  font-weight: bold;
}
